/*selector universal*/
*{
   margin: 0;
   margin: 0;
}
/*selector de etiqueta*/

body{
 background-color: rgb(152, 247, 128);
 color: rgb(0, 0, 0);


}
/*selector de id*/

#contenedor{
   width: 80%;
   height: 2250px;
   background-color: #fdfbfb;
   margin: 10px;
   padding: 20px;
   
    }
#encabezado
{
  justify-content: center;
       width: 94%;
       height: 260px;
       background-color:#74F148; 
       margin: 1em;
     
   
}
#encabesado
{
   width: 93%;
   height: 50px;
   height: auto;
   background-color:#74f147; 
   margin: 1em;
   border-radius: 18px;
   text-align: center;
}

#menu{
   height: 53px;
   background-color: #74F148;
   margin: 1em;
   border-radius: 5px;
}
.menu{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.logo{
 display: flex;
justify-content: center;
  
}
.menu .navbar ul li{
  float: left;
  text-align: center;
}
.menu .navbar ul li a{
  font-size: 18px;
  padding: 0px;
  color: beige;
  display: flex;
  justify-content: center;
  text-align: center;
}
.menu .navbar ul li a:hover{
  color: rgb(250, 253, 252);
  text-align: center;
}
#menu{
  display: none;
}
.menu-icono{
  width: 25px;
}

.menu label{
  cursor: pointer;
  display: none;
}
#menu:checked ~ .navbar{
  display: initial;
}

@media(max-width:591px){
  .menu{
      padding: 20px;
  }
  .menu label{
      display: initial;
  }
  .menu .navbar{
      position: absolute;
      top: 90%;
      left: 0;
      right: 0;
      background-color: #56b733;
      display: none;}

 .logo{
      width:100% ; 
      }
 .navbar .pit{
     width: 100%;
  }
    
}     

.menu .navbar ul li{
  width: 120px;
}

#menu:checked ~ .navbar{
  display: initial;

}

@media(max-width:1024px){
  .menu{
      padding: 20px;
  }
  .menu label{
      display: initial;
  }
  .menu .navbar{
      position: absolute;
      top: 90%;
      left: 0;
      right: 0;
      background-color: #56b733;
      display: none;}

     .logo{
      width:90% ;  
      }
 .navbar .pit{
     width: 100%;
  }
    
}     

.menu .navbar ul li{
  width: 120px;
}

#menu:checked ~ .navbar{
  display: initial;

}



/*selector de etiqueta para el menu*/
ul{
   text-align: center;
   padding: 10px;
}
li{
   display: inline;
   padding: 10px 30px;
   margin: 3em;
}
.imgo:hover{
  
  width: 100%;
  height: 200px;
}


li a:hover{
   color: #000000;
   font-size: 21px;
   text-decoration: none;
   list-style: none;
}
.imgo{
   max-width: 100%;
   height: 200px;
   border-radius: 20px;
   justify-items: center;
 
}

.texto{
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 20px;
   padding: 5px 25px;
   color: #ffffffff;
}
.pie{
   height: 30px;
   width: 90%;
   background-color:#74F148;
   margin: 1.5em;
   text-align: center;
   padding: 5px;
}
.pie h4{
   padding: 5px;
   width: 100%;
   height: 80px;
   text-align: center;
   align-content: center;
   font-size: 30px;
   background-color: #36801D;
  }


/*card*/


.card
{
  box-shadow: 0 4px 8px 0 black;
  overflow: hidden;
  max-width: 200px;
  margin: auto;
  text-align: center;
  border: 2px solid;
  border-radius: 20px;
  background-color: #36801D;



}
.card:hover{
 max-width: 210px; 
 height: 300px;
}


.card .imgo{
 background-color: white;
}

.tittle{
 color: aquamarine;
 font-size: 10px;
}
button{
 border: none;
 outline: 0;
 display: inline-block;
 padding: 8px;
 color: white;
 background-color: #1f4911;
 text-align: center;
 cursor: pointer;
 width: 100%;
 font-size: 18px;

}
button:hover{
  background-color: #74F148;
  color: #000000;
}

.pit{
 display: flex;
 justify-content: center;
 align-items: center;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: auto;
background-color: #56b733;
color: rgb(25, 75, 18);
}
.pit:hover{
  background-color: #1f4911;
  color: #fffefe;
}

.item{
 
  max-width: 200px;
  margin: 5px;
  border: 2px solid;
  text-align: center;
  line-height: 25px;
  font-size: 25px;
 
}



#contenedorflexy{
  display: flex;
  width: 92%;
  flex-direction: row;
justify-content: center;
flex-wrap: wrap;
  padding: 2px;
  gap: 20px;
 
}

