body {
    background-color: #acd4ac; /* Fondo blanco para una sensación de amplitud */
    font-family: "Arial Black", sans-serif;
  }
  
  h1 {
    color: #184622; /* Morado pastel para los títulos */
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #aabfec; /* Azul pastel para los formularios */
    padding: 20px;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #19311b; /* Morado oscuro para contraste en las etiquetas */
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #35b43c; /* Borde azul pastel */
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 30px;
    background-color: #1b5832; /* Botones morados pastel */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .subirArchivo {
    height: 20px;
    background-color: #1d461f; /* Botones morados pastel para subir archivos */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    background-color: #ebebeb; /* Fondo claro para las tablas */
    border-radius: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #000000;
  }
  
  th {
    background-color: #184622; /* Cabeceras de tabla azules pastel */
    color: #ffffff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #cccccc;
  }
  
  .volver-inicio {
    position: fixed;
    top: 20px;
    left: 20px;
  }
  
  .btn-volver {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #184622; 
    color: #fff;
    border-radius: 5px;
  }
  
  .btn-volver:hover {
    background-color: #184622;
  }
  
  .contenedor-principal {
    display: flex;
    justify-content: space-between;
  }
  
  .contenedor-formulario {
    flex: 1; 
    margin-top: 26px;
    margin-right: 30px;
    box-shadow: 0px 0px 10px #184622; 
    border-radius: 50px;
  }
  
  .contenedor-tabla {
    flex: 1.5; 
    margin-right: 30px;
  }
  
  button:hover, .subirArchivo:hover, .btn-volver:hover {
    background-color: #184622; 
    color: #ffffff;
  }
  button#btnBorrar:hover {
    background-color: #d9534f; 
    color: #ffffff;
  }

  #encabezado
{
        width: 97%;
        height: 160px;
        background-color:#74F148; 
        margin: 1em;
        border-radius: 20px;
        box-shadow: 0px 10px #203f23;
      
    
 }
 .fond3 {
  background-image: url('/Img/fondo.png'); /* Cambia esto por la ruta de tu imagen */
  background-size: cover; /* Esto hace que la imagen cubra todo el área del div */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Altura del div, en este caso, 100% de la altura de la ventana */
  width: 100%; /* Ancho del div, en este caso, 100% del ancho de la ventana */
}
 